# sentence-transformers==2.2.2
# langchain
# langchain-core
# langchain-community
# flask
# pypdf
# python-dotenv
# pinecone[grpc]
# langchain-pinecone
# langchain_community
# langchain-google-genai
# google-generativeai==0.8.5
# google-ai-generativelanguage==0.6.15
# langchain_experimental
# pinecone-client
# -e .

flask==3.1.1

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.79
langchain-google-genai==2.0.10
langchain-pinecone==0.2.13
langchain-text-splitters==0.3.11
langchain-google-genai
google-generativeai==0.8.5
google-ai-generativelanguage==0.6.15
pinecone==7.3.0
sentence-transformers==4.1.0
pypdf==5.6.1
python-dotenv==1.1.0
pinecone-client==5.0.1
-e .
